
.titleContainer {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text { 
  margin: 0;
  font-size: 5em;
  color: #9fe3a3;
  z-index: 999;
  text-shadow: 0 1px 0 #82b085, 0 2px 0 #82b085, 0 3px 0 #82b085, 0 4px 0 #82b085, 0 5px 0 #82b085, 0 6px 0 #82b085, 0 7px 0 #82b085, 0 8px 0 #82b085, 0 9px 0 #82b085, 0 30px 20px rgba(0, 0, 0, 0.3);
}
   
.contentContainer {
  background: #e4e4e4;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  z-index: 2;
}